#impressum .content {
    padding-top: 60px;
    padding-bottom: 158px;
}


#impressum table a {
	color: #333;
}

.table__none {

}



.table__phone td, .table__fax td, .table__email td, .table__reg_ger td, .table__reg_num td, .table__steuer_num td {

	border: 1px solid #999;

}


.table__phone {

}

.table__fax {

}
.table__email {

}
.table__reg_ger {

}
.table__reg_num {

}

.table__steuer_num {

}
