
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */